---
name: Release

on:
  push:
    tags:
    - v*

permissions:
  actions: write
  checks: write
  contents: write
  deployments: write
  id-token: write
  issues: write
  discussions: write
  packages: write
  pages: write
  pull-requests: write
  repository-projects: write
  security-events: write
  statuses: write

jobs:
  release:
    name: release
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v6

    - name: Upload CMakeMM to release
      uses: svenstaro/upload-release-action@2.11.4
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: ${{ github.workspace }}/cmake/CMakeMM.cmake
        file_glob: true
        overwrite: true
